@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background: #08090d;
  font-family: "Space Grotesk", system-ui, sans-serif;
}
